<a href="https://colab.research.google.com/github/JessePMelo/Challenge-telecom-x/blob/main/TelecomX_BR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracÃ£o

In [1]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json'

In [2]:
import pandas as pd
import ast
df = pd.read_json(url)

In [3]:
df.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [5]:
df['customer'].apply(type).value_counts()

customer
<class 'dict'>    7267
Name: count, dtype: int64

In [6]:
df['phone'].apply(type).value_counts()

phone
<class 'dict'>    7267
Name: count, dtype: int64

In [7]:
df['internet'].apply(type).value_counts()

internet
<class 'dict'>    7267
Name: count, dtype: int64

In [8]:
df['account'].apply(type).value_counts()

account
<class 'dict'>    7267
Name: count, dtype: int64

#ðŸ”§ TransformaÃ§Ã£o

In [9]:
df_normalizado = pd.concat([
    df[['customerID', 'Churn']],
    pd.json_normalize(df['customer']).add_prefix('customer_'),
    pd.json_normalize(df['phone']).add_prefix('phone_'),
    pd.json_normalize(df['internet']).add_prefix('internet_'),
    pd.json_normalize(df['account']).add_prefix('account_')
], axis=1)

In [20]:
df_normalizado.head(5)

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges.Monthly,account_Charges.Total,Contas_Diarias
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,2.186667
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4,1.996667
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.463333
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4,2.796667

In [11]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges.Monthly    7267 non-null   float64
 20  account_Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [12]:
df_normalizado.to_csv('dados_normalizados.csv', index=False)

In [13]:
df_normalizado['account_Charges.Total'].apply(type).value_counts()

account_Charges.Total
<class 'str'>    7267
Name: count, dtype: int64

In [14]:
for col in df_normalizado.select_dtypes(exclude=['int64', 'float64']).columns:
    print(f"\n{col}: {df_normalizado[col].unique()}")

customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']

Churn: ['No' 'Yes' '']

customer_gender: ['Female' 'Male']

customer_Partner: ['Yes' 'No']

customer_Dependents: ['Yes' 'No']

phone_PhoneService: ['Yes' 'No']

phone_MultipleLines: ['No' 'Yes' 'No phone service']

internet_InternetService: ['DSL' 'Fiber optic' 'No']

internet_OnlineSecurity: ['No' 'Yes' 'No internet service']

internet_OnlineBackup: ['Yes' 'No' 'No internet service']

internet_DeviceProtection: ['No' 'Yes' 'No internet service']

internet_TechSupport: ['Yes' 'No' 'No internet service']

internet_StreamingTV: ['Yes' 'No' 'No internet service']

internet_StreamingMovies: ['No' 'Yes' 'No internet service']

account_Contract: ['One year' 'Month-to-month' 'Two year']

account_PaperlessBilling: ['Yes' 'No']

account_PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

account_Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [15]:
df_normalizado['Churn'].value_counts(dropna=False)

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [16]:
df_normalizado = df_normalizado[df_normalizado['Churn'].str.strip() != '']

In [17]:
df_normalizado['account_Charges.Monthly']

0       65.60
1       59.90
2       73.90
3       98.00
4       83.90
        ...
7262    55.15
7263    85.10
7264    50.30
7265    67.85
7266    59.00
Name: account_Charges.Monthly, Length: 7043, dtype: float64

In [18]:
import datetime
import calendar

# Pega o ano e mÃªs atual
hoje = datetime.date.today()
ano = hoje.year
mes = hoje.month

# ObtÃ©m o nÃºmero de dias no mÃªs atual
dias_no_mes = calendar.monthrange(ano, mes)[1]
dias_no_mes

30

In [19]:
df_normalizado["Contas_Diarias"]= df_normalizado['account_Charges.Monthly']/dias_no_mes

<ipython-input-19-16456274ffac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_normalizado["Contas_Diarias"]= df_normalizado['account_Charges.Monthly']/dias_no_mes

#ðŸ“Š Carga e anÃ¡lise

#ðŸ“„Relatorio Final